table {
    /* зробити рамки прозорими */
    border: 1px solid black; 
    border-collapse: collapse;
}
td, th {
    border: 1px solid black;
    padding: 5px;
}

.day-hour {
    background-color: #05B895;
    color: #ffffff;
    
}

.lesson {
    background-color: #FEC20C;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.border-less {
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
}
