{% extends "layout.html" %}
{% block content %}
<div class="abon" id="for">
    {{ form.hidden_tag() }}
    <div class="abonements">
        <div class="item-img-1">
            <img src="static/img/Frame_1.png" alt="">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScCXx69FgNhaIoMRpPAgAjxonC-hOupK6NJ6mJ2VAxlgFCYZg/viewform?usp=sf_link" target="_blank">
                <button class="button-yellow-one">Забронювати</button>
            </a>
        </div>
        <div class="item-img-1">
            <img src="static/img/Frame_2.png" alt="">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSe7bDmc14fl0wvz3ZNtKiaMtqa4MNyecSK0fn6kAE2FBtWmSw/viewform?usp=sf_link" target="_blank">
                <button class="button-green">Забронювати</button>
            </a>
            <div class="about-active"></div>
        </div>
        <div class="item-img-1">
            <img src="static/img/plan.png" alt="">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScBm1Jdn9KWGLmpJ9N27Lzoe37AdR4TPQPz8e8GC2xY_eHUEA/viewform?usp=sf_link" target="_blank">
                <button class="button-yellow-two">Забронювати</button>
            </a>
        </div>
    </div>
</div>
{% endblock content %}