{% extends "layout.html" %}
{% block content %}
<div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-8">
        <div class="content-section" id="account">
            <div class="media">
                <img class="rounded-circle account-img" src="{{ image_file }}">
                <div class="media-body">
                    <h2 class="account-heading">{{ current_user.username }}</h2>
                    <p class="text-secondary">{{ current_user.email }}</p>
                </div>
            </div>
            <form method="POST" action="" enctype="multipart/form-data" class="item">
                {{ form.hidden_tag() }}
                <fieldset class="form-group item-form">
                    <legend class="item-title mb-4">Мій профіль</legend>
                    <div class="form-group">
                        {{ form.username.label(class="form-control-label") }}
                        {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.picture.label() }}
                        {{ form.picture(class="form-control-file") }}
                        {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group item-btn">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
    </div>
</div>
<div class="scrollbox">
    <div class="main_block">
        <h4>Мої тренування</h4>
    </div>
    {% for training in trainings|reverse %}
        <div class="block">
            <h5>Тренер:</h5><h6>{{ training.trainer }}</h6>
            <h5>Дата:</h5><p>{{ training.date.strftime("%d/%m/%Y") }}</p>
            <h5>Час:</h5><p>{{ training.date.strftime("%H:%M") }}</p>
            <br>
            <form method="POST" action="{{ url_for('account') }}">
                <input type="hidden" name="training_id" value="{{ training.id }}">
                <button type="submit" name="cancel" class="btn btn-danger" onclick="clicked(event)">Скасувати</button>
            </form>
        </div>
    {% endfor %}
</div>
{% endblock content %}