{% extends "layout.html" %}
{% block content %}
<div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-8">
        <div class="content-section" , id="gymnastic">
            <form method="POST" action="" class="item">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="mb-0 text-center item-title">Гімнастика</legend>
                    <div class="media-body">
                        <h2 class="account-heading">{{ date.strftime("%d/%m/%Y") }}</h2>
                    </div>
                    <div class="form-group item-btn mt-2">
                        {{ form.book(class="btn btn-outline-info") }}
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock content %}