<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

  {% if title %}
  <title>GymHub - {{ title }}</title>
  {% else %}
  <title>GymHub</title>
  {% endif %}
</head>

<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="/home_1"><img src="static/img/logo_GYM.png" alt=""></a>
        <a class="navbar-brand-1 mr-4"><img src="static/img/logo_UCU.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
          aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
  </header>
  <main role="main" class="container">
    <!-- <div class="row row d-flex justify-content-center align-items-center">
      <div class="col-md-8"> -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
      {{ message}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    </div>
    </div>
  </main>
  <footer class="footer d-flex justify-content-between align-items-end">
    <div class="contact text-left">
      <p>Контакти</p>
      <p>+380930147698</p>
      <p>gymhub22@gmail.com</p>
      <p>Львів, вул Козельницька, 2
      </p>
    </div>
    <div class="scheduly text-center">
      <p>Графік роботи <br>
        Пн-Пт : 17:00-21:00 <br>
        Сб : 09:00-13:00</p>
    </div>
    <div class="social d-flex flex-column ">
      <p>Соціальні мережі</p>
      <div class="social__icon d-flex justify-content-center align-items-center gap-5">
        <a href="https://instagram.com/gymhub.lviv?igshid=YmMyMTA2M2Y=" target="_blank" class="mr-2"><img
            src="static/img/icon/instagram.png" alt=""></a>
        <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=gymhub22@gmail.com&su=Про зал" target="_blank"><img
            src="static/img/icon/footer_mail.png" alt=""></a>
      </div>
    </div>
  </footer>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script>
    function clicked(e) {
      if (!confirm('Ви впевнені, що хочете скасувати тренування?')) {
        e.preventDefault();
      }
    }
  </script>
</body>

</html>