{% extends "layout.html" %}
{% block content %}
    <div class="carousel">
        <button class="carousel__button carousel__button--left is-hidden">
            <img src="static/img/left.svg" alt="">
        </button>
        <div class="carousel__track-container">
            <ul class="carousel__track">
                <li class="carousel__slide current-slide">
                    <img class = "carousel__image" src="static/img/1.jpeg" alt="">
                </li>
                <li class="carousel__slide">
                    <img class = "carousel__image" src="static/img/2.jpeg" alt="">
                </li>
                <li class="carousel__slide">
                    <img class = "carousel__image" src="static/img/3.jpeg" alt="">
                </li>
            </ul>
        </div>
        <button class="carousel__button carousel__button--right">
            <img src="static/img/right.svg" alt="">
        </button>

        <div class="carousel__nav">
            <button class="carousel__indicator current-slide"></button>
            <button class="carousel__indicator"></button>
            <button class="carousel__indicator"></button>
        </div>
    </div>
    <script src="static/carousel.js"></script>
{% endblock content %}