{% extends "layout.html" %}
{% block content %}
    <div class="carousel">
        <button class="carousel__button carousel__button--left is-hidden">
            <img src="static/img/left.svg" alt="">
        </button>
        <div class="carousel__track-container">
            <ul class="carousel__track">
                <li class="carousel__slide current-slide">
                    <div class = "carousel_every_slide">
                        <div>Артем Скопа</div>
                        <div>Досвід 5 років, спеціалізуюся на силових вправах</div>
                        <div>Робочі дні: Понеділок, Середа, П'ятниця</div>
                        <div>Робочі години: 18:00, 19:00</div>
                        <img src="static/img/trainer1.jpeg" alt="">
                    </div>
                </li>
                <li class="carousel__slide">
                    <div class = "carousel_every_slide">
                        <div>Владислав Борисюк</div>
                        <div>Досвід 3 роки, люблю спорт, кайфую від нього</div>
                        <div>Робочі дні: Вівторок, П'ятниця,</div>
                        <div>Робочі години: 17:30, 18:30</div>
                        <img class = "carousel_every_slide" src="static/img/trainer2.jpeg" alt="">
                    </div>

                </li>
                <li class="carousel__slide">
                    <div class = "carousel_every_slide">
                        <div>Костянтин Новацький</div>
                        <div>Досвід роботи 1,5 роки, з радістю допоможу комусь</div>
                        <div>Робочі дні: Субота</div>
                        <div>Робочі години: 10:00, 12:00</div>
                        <img src="static/img/trainer3.jpeg" alt="">
                    </div>

                </li>
                <li class="carousel__slide">
                    <div class = "carousel_every_slide">
                        <div>Наталя Кравченко</div>
                        <div>Досвід роботи 4 роки, маю досвід бути тренером для похудання, допоможу</div>
                        <div>Робочі дні: Понеділок, Середа, Четвер</div>
                        <div>Робочі години: 17:00, 19:00, 20:00</div>
                        <img src="static/img/trainer4.jpeg" alt="">
                    </div>
                </li>
            </ul>
        </div>
        <button class="carousel__button carousel__button--right">
            <img src="static/img/right.svg" alt="">
        </button>

        <div class="carousel__nav">
            <button class="carousel__indicator current-slide"></button>
            <button class="carousel__indicator"></button>
            <button class="carousel__indicator"></button>
            <button class="carousel__indicator"></button>
        </div>
    </div>
    <script src="static/carousel.js"></script>
{% endblock content %}